<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>未找到页面</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">没有找到能够展示给你的页面</p>
        </LayoutView>
    </NotFound>
</Router>
